<div class="bg">
    <mat-card class="example-card">
        <mat-card-header>
          <span class="example-spacer"></span>
          <mat-card-title>dynARTwork</mat-card-title>
          <a mat-flat-button color="primary" href="https://github.com/fcolasante/dynARTwork" class="button" >GITHUB</a>
        </mat-card-header>
        <img mat-card-image src="../../../assets/logo.jpg" alt="Photo of dynARTwork">
        <mat-card-content>
          
            <h1>GOAL OF THE PROJECT</h1>
            <h3>The project was developed during the final examination of the Iot 2020 course.
            The goal of the project is to address a real-world problem within the context of Smart Museums.
            We want to distinguish ourselves from the two classic proposals: conservation of 
            works of art, improvement of the visitor's user experience. We would like to create 
            our work of art, or rather our generator of works of art. We think this is a way to 
            attract visitors to the museum on a daily basis, as the artwork is dynamic and changes 
            according to how the world changes.
          </h3>
          <h1>THE IDEA</h1>
          <div class="video">
          <youtube-player videoId="u6LoqptbMTY" ></youtube-player>
          <h3>Our users are mainly artists so we
            will provide them this website in which
            they can register and they can load their
            artwork and choose the parameters In which they are
            interested in. The parameters are
            type of data which will be used in the
            creation process some examples could be
            pollution data, people feelings or
            acoustic noise.
            Thanks to machine learning our infrastructure will use the
            data collected by the IOT devices
            mixing them with the leaded image
            moreover the artists can see the result
            displayed on his screen finally the
            artwork will be projected in the museum
            room where it will contain to change
            dynamically</h3>
        </div>
          <h1>THE ARCHITECTURE</h1>
          <youtube-player videoId="5QkTi2bo70E"></youtube-player>
        </mat-card-content>
      </mat-card>
      
</div>