<mat-toolbar *ngIf="user">
    <a mat-button color="primary" routerLink="/home" class="home">dynARTwork</a>
    <span class="example-spacer"></span>
    <a mat-button color="primary" routerLink="/newDynArtWork">New dynARTwork</a>
    <a mat-button color="primary" routerLink="/team">Team</a>
    <a mat-button color="primary" routerLink="/contact">Contact</a>
    <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar> 
</mat-toolbar>

<mat-toolbar *ngIf="!user">
    <a mat-button color="primary" routerLink="/home" class="home">dynARTwork</a>
    <span class="example-spacer"></span>
    <a mat-button color="primary" routerLink="/about">About</a>
    <a mat-button color="primary" routerLink="/team">Team</a>
    <a mat-button color="primary" routerLink="/contact">Contact</a>
    <a mat-flat-button color="primary" routerLink="/login">Login</a>
</mat-toolbar>

  