<div class="bg">
    <mat-card>
     <div class="text-center">
        <h1>New dynARTwork</h1>
        <mat-form-field>
            <ngx-mat-file-input [placeholder]="placeholder" (change)="uploadFile($event)"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <div *ngIf="isLoading" fxLayout='column'>
            <div>Caricamento: {{ uploadPercent | async }}%</div>
            <mat-spinner></mat-spinner>
        </div>
     </div>
    </mat-card>
</div>