<div class="bg">
    <table class="table">
        <tr>
            <th class="head"> 
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Francesco Colasante</mat-card-title>
                  <mat-card-subtitle>MAKE YOUR ART LIVE</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/francesco.jpeg" alt="Emanuele">
                <mat-card-actions>
                    <a mat-stroked-button color="primary" href="http://github.com/fcolasante">GITHUB</a>
                    <a mat-stroked-button color="primary" href="https://www.linkedin.com/in/francesco-colasante/">LINKEDIN</a>
                 </mat-card-actions>
              </mat-card>       
            </th>
            <th class="head">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Emanuele Santo Iaia</mat-card-title>
                  <mat-card-subtitle>MAKE YOUR ART LIVE</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/Emanuele.jpg" alt="Emanuele">
                <mat-card-actions>
                    <a mat-stroked-button color="primary" href="https://github.com/Lelito-IAIA">GITHUB</a>
                    <a mat-stroked-button color="primary" href="https://www.linkedin.com/in/emanuele-santo-iaia-4315411a2/">LINKEDIN</a>
                 </mat-card-actions>
              </mat-card>       
            </th>
        <th class="head">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Simone Di Tanna</mat-card-title>
                  <mat-card-subtitle>MAKE YOUR ART LIVE</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/simone.jpeg" alt="Simone">
                <mat-card-actions>
                    <a mat-stroked-button color="primary" href="http://github.com/sditanna">GITHUB</a>
                    <a mat-stroked-button color="primary" href="https://www.linkedin.com/in/simone-di-tanna-7a10221a3/">LINKEDIN</a>
                 </mat-card-actions>
              </mat-card>       
            </th>
        </tr>
    </table>
   
</div>