<div class="bg">
    
    <!-- <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
       
      </mat-grid-list>
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Francesco Colasante</mat-card-title>
                  <mat-card-subtitle>MAKE YOUR ART LIVE</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/francesco.jpeg" alt="Photo of dynARTwork">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                 </mat-card-actions>
              </mat-card>       
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Emanuele Santo Iaia</mat-card-title>
                  <mat-card-subtitle>MAKE YOUR ART LIVE</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/francesco.jpeg" alt="Photo of dynARTwork">
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                 </mat-card-actions>
              </mat-card>       
        </div>
    </div>
      <span class="spacer">ciao</span> -->
</div>