.bg {
    /* The image used */
    background-image: url(./../../../assets/sfondoN.jpg);
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background-size: cover;
  }
  .text-center > * {
    text-align: center;
  }
  .table{
    margin: 0 auto;
  }
  .head{
    width: 500px;
    height: 600px;
  }
  .example-card {
    width: 500px;
    height: 650px;
    margin: 0 auto;
  }
  